<a class="navbar-employer" ui-sref="home">HOME</a>

<div ng-repeat="employer in employers track by $index">
    <h3> Hi <strong>{{employer.username}}</strong> ! Welcome in WeConnect
        <img class="employee-img" src="{{employer.image_url}}" />
    </h3>
    <hr>
    <div class="row ">
        <h3>
            <u>My Project</u> : The student has to do a movie app using <strong>{{employer.currentProject|uppercase}}</strong></h3>
    </div>
</div>



    <hr>
    <div class="show-answer">{{showAnswer}} <i ng-show="showAnswer" class="fa fa-handshake-o" aria-hidden="true"></i></div>
    <hr>
    <h1>All Employees</h1>
    <input type="text" ng-model="searchSkills" placeholder="Search By Skills" />
    <i type="button" class="fa fa-search" aria-hidden="true"></i>






<div ng-repeat="employee in employees | filter: {skills: searchSkills} track by $index ">


    <div class="all-employees col-md-4">
        <img class="employee-img" src="{{employee.img}}" />
        <h3>{{employee.username | uppercase}}</h3>
        <hr>
        <span>{{employee.location}}</span>
        <br>
        <span><strong>Skills : </strong>{{employee.skills}}</span>
        <br>

        <button type="button" class="project-choose" ui-sref="employeesAll({showName:'Your New Project : Doing a movie app using a new language'})">I want you for my project</button>
    </div>
</div>